@import "/src/styles/variables";

.tag {
    height: 35px;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    white-space: nowrap;
    &--circle {
        padding: 0;
        width: 35px;
    }
    &--primary.tag--fill {
        color: $light;
        background-color: $primary;
    }
    &--primary.tag--border {
        color: $primary;
        outline: 2px solid $primary;
    }
}