@import "/src/styles/variables";

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    white-space: nowrap;
    font-size: 16px;
    --medium-height: 40px;
    --medium-padding: 15px;
    --medium-font-size: var(--global-font-size);
    --big-height: 55px;
    --big-padding: 30px;
    --big-font-size: 20px;
    @media screen and (max-width: $mobile) {
        --big-height: var(--medium-height);
        --big-padding: var(--medium-padding);
        --big-font-size: var(--medium-font-size);
    }
    &--circle {
        padding: 0;
        width: 40px;
    }
    &--medium {
        height: var(--medium-height);
        padding: 0 var(--medium-padding);
        font-size: var(--medium-font-size);
    }
    &--big {
        height: var(--big-height);
        padding: 0 var(--big-padding);
        font-size: var(--big-font-size);
    }

    &--fill {
        &.tag--primary {
            color: $light;
            background-color: $primary;
            border: 2px solid $primary;
        }
        &.tag--secondary {
            color: $light;
            background-color: $secondary;
            border: 2px solid $secondary;
        }
        &.tag--tertiary {
            color: $light;
            background-color: $tertiary;
            border: 2px solid $tertiary;
        }
        &.tag--quaternary {
            color: $light;
            background-color: $quaternary;
            border: 2px solid $quaternary;
        }
    }
    &--border {
        &.tag--primary {
            color: $primary;
            border: 2px solid $primary;
        }
        &.tag--secondary {
            color: $secondary;
            border: 2px solid $secondary;
        }
        &.tag--tertiary {
            color: $tertiary;
            border: 2px solid $tertiary;
        }
        &.tag--quaternary {
            color: $quaternary;
            border: 2px solid $quaternary;
        }
    }
}