@import "/src/styles/variables";

.about {
    --gap: 100px;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    width: 100%;
    height: 100%;
    margin: auto;
    @media screen and (max-width: $mobile) {
        flex-direction: column;
        --gap: 30px
    }
    &__avatar {
        max-width: calc(50% - (var(--gap)/2));
        @media screen and (max-width: $mobile) {
            width: 100%;
            max-width: 400px;
        }
    }
    &__description {
        flex: 1 1 calc(50% - (var(--gap)/2));
    }
}