.header-mobile {
    position: relative;
    z-index: 2;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;
        &__behance, &__burger-menu {
            flex: 1;
            margin-top: 30px;
        }
        &__burger-menu {
            display: flex;
            justify-content: flex-end;
        }
    }
}