//COLORS
$primary: #4D2EAA;
$secondary: #EB6633;
$tertiary: #4A775D;
$quaternary: #F2B641;

$primary-light: lighten(#4D2EAA, 30%);
$secondary-light: lighten(#EB6633, 50%);
$tertiary-light: lighten(#4A775D, 30%);
$quaternary-light: lighten(#F2B641, 50%);

$light: #F2F0F9;

//FONTS
$decorated-font: 'Bogam', 'Anton' ,serif;;
$main-font: 'Inter', sans-serif;
$global-font-size: 16px;

//OTHERS
$gap-wrapper-cta: 10px;

$container-big-padding: 100px;