@import "/src/styles/variables";

.about-description {
    --description-spacing: 30px;
    @media screen and (max-width: $mobile) {
        text-align: center;
        --description-spacing: 20px;
    }
    &__title {
        font-size: 50px;
        color: $tertiary;
        margin-bottom: var(--description-spacing);
        span {
            color: $tertiary-light;
        }
    }
    &__content {
        p:not(:last-child) {
            margin-bottom: var(--description-spacing);
        }
    }
}