@import "/src/styles/variables";

.filters {
    display: flex;
    gap: $gap-wrapper-cta;
    flex-wrap: wrap;
    @media screen and (max-width: $mobile) {
        justify-content: center;
    }
    input {
        display: none;
    }
    label {
        cursor: unset;
    }
}