.footer {
    height: 100px;
    &__content {
        height: 100%;
        &__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
    }
}