@import "/src/styles/variables";

.footer {
    padding-bottom: 60px;
    @media screen and (max-width: $mobile) {
        padding-bottom: 30px;
    }
    flex: none;
    margin-top: auto;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 30px;
        &__item {
            flex: 1;
            @media screen and (max-width: $mobile) {
                flex: auto;
            }
        }
    }
}