@import "/src/styles/variables";

.portfolio {
    height: 100%;
    padding: 40px 0;
    &__slider {
        height: 100%;
        padding-left: $container-big-padding;
        padding-right: $container-big-padding;
        cursor: grab;
        user-select: none;
        &__item {
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            animation: slide 0.5s both;
            &:not(:last-child) {
                padding-right: 100px;
            }
        }
    }
}

.swiper-wrapper {
    transition-duration: 0.6s !important;
    /*Ease-out for scrolling, big difference when changed*/
    transition-timing-function: ease-out;
}


@keyframes slide {
    0% {
        transform: translateX(100px); 
        opacity: 0;
    }
    100% { 
        transform: translateX(0);
        opacity: 1;
    }
}