@import "/src/styles/variables";

.portfolio {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__filters {
        padding: 0 var(--container-big-padding);
    }

    &__slider {
        height: 100%;
        cursor: grab;
        user-select: none;
        width: 100%;
        padding: 0 var(--container-big-padding);
        &__item {
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            animation: slide 0.5s both;
            &:not(:last-child) {
                padding-right: 40px;
                @media screen and (max-width: $mobile) {
                    padding-right: 30px;
                }
            }
        }
    }
}

// .swiper-wrapper {
//     transition-duration: 0.6s !important;
//     /*Ease-out for scrolling, big difference when changed*/
//     transition-timing-function: ease-out;
// }


@keyframes slide {
    0% {
        transform: translateX(100px); 
        opacity: 0;
    }
    100% { 
        transform: translateX(0);
        opacity: 1;
    }
}